.header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--color-background);

  border-bottom: 1px solid #1d283c;

  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

  .header-wrapper {
    display: flex;
    flex-grow: 1;

    margin: 30px 10% 30px 10%;

    .header-title {
      color: var(--app-content-main-color);
      text-decoration: none;
      font-size: 24px;
      font-weight: bold;
    }

    .cart-btn-wrapper {
      justify-content: flex-end;
      margin: 0 30px;
    }
  }
}
