.cart-item {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: auto;

  .cart-item__title {
    min-width: 30%;
    margin-right: 15px;
  }

  .cart-item__price {
    margin-left: 15px;
    min-width: 30%;
  }
}