.footer {
  //position: absolute;
  color: var(--app-content-main-color);
  background-color: var(--app-content-secondary-color);
  text-align: center;
  //border-top: 1px solid #E7E7E7;
  padding: 20px;
  left: 0;
  bottom: 0;
  height: 20px;
  width: 100%;
}