:root {
  --color-background: rgb(230, 230, 230);
  --color-font: black;

  --app-content-main-color: black;
  --app-content-secondary-color: #f3f6fd;

  --btn-background: #82bf1c;
  --btn-hover: #22c730;
}

html[data-theme="dark"] {
  --color-background: black;
  --color-font: white;

  --app-content-main-color: #fff;
  --app-content-secondary-color: #1d283c;

  --btn-background: #5558ed;
  --btn-hover: #50DFFC;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: background .5s ease-in;

  background-color: var(--color-background);
  color: var(--color-font);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}
